<div class='container'>
<div class='bg'> 
        <div class='blog-container'>
          <div class='blog'>
              <h1>My bucket list</h1>
              <div class='post'>
                  <p>Here are some things I'm looking forward to doing in Copenhagen!</p>
                  <ol>
                      <li>Visit Tivoli Gardens</li>
                      <li>Eat a bubble waffle</li>
                      <li>Swim in a canal</li>
                      <li>Find a giant</li>
                      <li>Visit Superkilen park</li>
                      <li>Study in the royal library</li>
                      <li>Find the best coffee shop</li>
                      <li>Speak some Danish</li>
                      <li>Go on a bike trip</li>
                      <li>Learn web dev!! :)</li>
                  </ol>
              </div>
            </div>
        </div>
      </div>
      </div>