* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  justify-content: center;
  background: whitesmoke;
  
}

.container {
  margin: 0 10%;
  width: 80%;
  max-width: 1200px;
}

.menu-container {
  color: #fff;
  background-color: #5995DA;
  padding: 20px 0;
  display: flex;
  justify-content: center;
}

.menu {
  width: 900px;
  display: flex;
  justify-content: space-between;
}

.links {
    display: flex;
    justify-content: flex-end;
}

h1, h2 {
  font-family: 'Merriweather', serif;
}

a {
  font-family: 'Josefin Sans', sans-serif;
}

a:hover {
  color: #D6E9FE;
}

a:visited {
  color: darkblue;
}

a:visited:hover {
  color: #D6E9FE;
}

.headerlink {
  margin-left: 20px;
    
}

.header-container {
  color: #5995DA;
  background-color: #D6E9FE;
  display: flex;
  justify-content: center;

}

.header {
  width: 900px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-family: 'Josefin Sans', sans-serif;

}

.blog-container {
  background: white;
  margin-bottom: 12em;
}

.blog {
  padding: 45px 2em;
}

.title {
  padding: 4px 16px;
}

.date {
  margin: 16px 32px 8px 32px;
  font-size: 0.8em;
}

.post {
  margin: 16px 32px 0 32px;
  font-family: 'Open Sans', sans-serif;
}

.post ol {
  margin: 32px 32px 32px 32px;
  line-height: 1.75em;
}

.profilepic {
  width: 300px;
  float: left;
  padding: 10px;
}

.aboutsection {
  padding-top: 30px;
}

.about {
  padding-left: 40px;
  padding-top: 20px;
  line-height: 1.25em;
  font-family: 'Open Sans', sans-serif;
}

.emphasis {
  color: blueviolet;
}

.bg {
  border: solid transparent;
  background: white;
}