<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8'/>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />
    <title>{{ pageTitle }}</title>
    
    <link rel='stylesheet' href='styles.css'/>
    <link href="https://fonts.googleapis.com/css?family=Archivo|Karla:700|Josefin+Sans|Lato|Merriweather|Montserrat:300|Open+Sans|Oswald:300|Playfair+Display:700|Raleway:300|Roboto:300&display=swap" rel="stylesheet">

  </head>
  <body>
    <div class='container'>
      <div class='header-container'>
        <div class='left-link-group'>
          <a class='header-link' href='./'>Home</a>
          <a class='header-link' href='./about'>About me</a>
        </div>
        <div class='header'>
          <a href='./'><img class='logo' src="./img/logo.png" ></img></a>
        </div>
        <div class='right-link-group'>
          <a class='header-link' href='./todo'>To-do list</a>              
          <a class='header-link' href='./gallery'>Photo gallery</a>
        </div>
      </div> 
    </div>
    {{{ body }}}
    <script src="./main.js"></script>
  </body>
</html>
